@font-face {
  font-family: 'victor';
  src: url('victor/VictorMono-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('victor/VictorMono-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('victor/VictorMono-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('victor/VictorMono-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('victor/VictorMono-ExtraLight.ttf')  format('truetype') /* Safari, Android, iOS */
}